<% layout('layout/boilerplate') %>
<div class="container">
	<h1>Campground page</h1>
	<h2><%= campground.title %></h2>
	<h2><%= campground.location %></h2>
	<div class="text-end">
		<a class="link-secondary p-1" href="/campgrounds/<%= campground.id %>/edit "
			>Edit</a
		>
	</div>
	<form
		class="text-end"
		method="POST"
		action="/campgrounds/<%= campground.id %>?_method=DELETE"
	>
		<button class="btn btn-dark">Delete</button>
	</form>
</div>
