<% layout('layout/boilerplate') %>
<div class="container w-50">
	<h1>Create Campground</h1>
	<form action="/campgrounds/<%= campground.id %>?_method=PUT " method="POST">
		<div class="mb-3">
			<label for="Title" class="form-label">Title</label>
			<input
				placeholder="<%= campground.title %> "
				type="text"
				name="title"
				class="form-control"
				id="Title"
			/>
		</div>
		<div class="mb-3">
			<label for="location" class="form-label">Location</label>
			<input
				placeholder="<%= campground.location %> "
				name="location"
				type="text"
				class="form-control"
				id="location"
			/>
		</div>

		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
	<a class="btn btn-sm btn-dark" href="/campgrounds">All Campgrounds</a>
</div>
