<% layout('layout/boilerplate') %>
<div class="container w-50">
	<h1>Create Campground</h1>
	<form action="/campgrounds" method="POST">
		<div class="mb-3">
			<label for="Title" class="form-label">Title</label>
			<input type="text" name="title" class="form-control" id="Title" />
		</div>
		<div class="mb-3">
			<label for="location" class="form-label">Location</label>
			<input name="location" type="text" class="form-control" id="location" />
		</div>

		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>
